<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalMusicBean"
          class="ru.aden.springcourse.models.impls.ClassicalMusic"/>
    <bean id="rockMusicBean"
          class="ru.aden.springcourse.models.impls.RockMusic"/>
    <bean id="musicPlayer"
          class="ru.aden.springcourse.models.MusicPlayer">
        <constructor-arg ref="classicalMusicBean"/>
    </bean>

</beans>